*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.company {
    background-color: grey;
    height: 100px;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}
.header {
    background-color: grey;
    height: 150px;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container div{
    height: 50px;
    width: 300px;
    background-color: gray;
    font-size: 30px;
}
.about{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 100px;
}

.about .left{
    background-color: gray;
    width: 800px;
    height: 300px;
    text-align: center;
    margin-bottom: 25px;

}

.about .right .one{
    background-color: gray;
    width: 450px;
    height: 130px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}

.about .right .two{
    background-color: gray;
    width: 450px;
    height: 140px;
    text-align: center;
    font-size: 30px;
}
.footer {
    background-color: grey;
    height: 150px;
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
    font-size: 50px;
    margin-bottom: 150px;
}


button{
    padding: 8px;
    color: yellow;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
}
  